parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$input of class LongitudeOne\\Geo\\WKB\\Parser constructor expects string\|null, resource\|string given\.$#'
			identifier: argument.type
			count: 1
			path: ../../lib/LongitudeOne/Spatial/DBAL/Platform/AbstractPlatform.php

		-
			message: '#^Cannot access offset 0 on resource\|string\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: ../../lib/LongitudeOne/Spatial/DBAL/Types/AbstractSpatialType.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.CouplingBetweenObjects\)\)\: Unexpected token "\.CouplingBetweenObjects\)", expected ''\)'' at offset 69 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: ../../lib/LongitudeOne/Spatial/DBAL/Types/AbstractSpatialType.php

		-
			message: '#^Parameter \#2 \$sqlExpr of method LongitudeOne\\Spatial\\DBAL\\Platform\\PlatformInterface\:\:convertStringToPhpValue\(\) expects string, resource\|string given\.$#'
			identifier: argument.type
			count: 1
			path: ../../lib/LongitudeOne/Spatial/DBAL/Types/AbstractSpatialType.php

		-
			message: '#^Strict comparison using \=\=\= between Doctrine\\ORM\\Query\\TokenType\:\:T_COMMA and Doctrine\\ORM\\Query\\TokenType\:\:T_COMMA will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: ../../lib/LongitudeOne/Spatial/ORM/Query/AST/Functions/PostgreSql/SpSnapToGrid.php

		-
			message: '#^Call to function is_array\(\) with array\<array\<float\|int\>\|LongitudeOne\\Spatial\\PHP\\Types\\PointInterface\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../../lib/LongitudeOne/Spatial/PHP/Types/AbstractGeometry.php

		-
			message: '#^Call to function is_array\(\) with array\<float\|int\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../../lib/LongitudeOne/Spatial/PHP/Types/AbstractGeometry.php

		-
			message: '#^Call to function is_numeric\(\) with float\|int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: ../../lib/LongitudeOne/Spatial/PHP/Types/AbstractGeometry.php

		-
			message: '#^Call to function is_object\(\) with \*NEVER\* will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../../lib/LongitudeOne/Spatial/PHP/Types/AbstractGeometry.php

		-
			message: '#^Call to function is_object\(\) with array\<float\|int\> will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: ../../lib/LongitudeOne/Spatial/PHP/Types/AbstractGeometry.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array, list\<string\>\|null given\.$#'
			identifier: argument.type
			count: 2
			path: ../../lib/LongitudeOne/Spatial/PHP/Types/AbstractGeometry.php

		-
			message: '#^Class LongitudeOne\\Spatial\\Tests\\Doctrine\\Logging\\FileLogger extends @final class Monolog\\Logger\.$#'
			identifier: class.extendsFinalByPhpDoc
			count: 1
			path: ../../tests/LongitudeOne/Spatial/Tests/Doctrine/Logging/FileLogger.php

		-
			message: '#^Call to function method_exists\(\) with Doctrine\\ORM\\Configuration and ''enableNativeLazyObj…'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../../tests/LongitudeOne/Spatial/Tests/OrmTestCase.php

		-
			message: '#^PHPDoc tag @SuppressWarnings has invalid value \(\(PHPMD\.ExcessiveClassComplexity\)\)\: Unexpected token "\.ExcessiveClassComplexity\)", expected ''\)'' at offset 61 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: ../../tests/LongitudeOne/Spatial/Tests/OrmTestCase.php

		-
			message: '#^Parameter \#1 \$points of class LongitudeOne\\Spatial\\PHP\\Types\\Geometry\\LineString constructor expects array\<array\<float\|int\>\|LongitudeOne\\Spatial\\PHP\\Types\\PointInterface\>, array\<int, int\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../../tests/LongitudeOne/Spatial/Tests/PHP/Types/Geometry/LineStringTest.php

		-
			message: '#^Parameter \#1 \$points of class LongitudeOne\\Spatial\\PHP\\Types\\Geometry\\MultiPoint constructor expects array\<array\<float\|int\>\|LongitudeOne\\Spatial\\PHP\\Types\\PointInterface\>, array\<int, int\> given\.$#'
			identifier: argument.type
			count: 1
			path: ../../tests/LongitudeOne/Spatial/Tests/PHP/Types/Geometry/MultiPointTest.php

		-
			message: '#^Parameter \#1 \$polygon of method LongitudeOne\\Spatial\\PHP\\Types\\AbstractMultiPolygon\:\:addPolygon\(\) expects array\<array\<array\<float\|int\>\|LongitudeOne\\Spatial\\PHP\\Types\\PointInterface\>\|LongitudeOne\\Spatial\\PHP\\Types\\LineStringInterface\|LongitudeOne\\Spatial\\PHP\\Types\\MultiPointInterface\>\|LongitudeOne\\Spatial\\PHP\\Types\\PolygonInterface, string given\.$#'
			identifier: argument.type
			count: 1
			path: ../../tests/LongitudeOne/Spatial/Tests/PHP/Types/Geometry/MultiPolygonTest.php
